.map-container {
  position: absolute;
  top: 290px;
  left: 0px;
  z-index: -1;
  background-image: url('/assets/images/fakemap.png');
  background-size: cover;
  background-position: top center;
}


@media screen and (min-width: 1440px) {
  .map-container {
    top: 280px;
  }
}
img {
  z-index: 30;
}
