@use '/src/variables';

* {
  cursor: pointer;
}

.search {
  @include variables.flex-row;
  height: 58px;
  width: 327px;
  border-radius: 15px;
  border: 1px solid variables.$soft-blue;
  box-shadow: 0px 50px 50px -25px variables.$shoe-wax;
  margin: 25px;
  transition: 1s ease-in-out;
}

.ip-address {
  height: 58px;
  width: 269px;
  border-radius: 15px 0 0 15px;
  font-weight: 400;
  line-height: 21px;
  font-size: 15px;
  text-align: left;
  background-color: variables.$milk ;
  color: variables.$shoe-wax;
  padding: 5px 5px 5px 15px;
  transition: 1s ease-in-out;
}

.ip-address:focus {
  border: 3px solid variables.$soft-blue;
}

.btn-submit {
  @include variables.flex-row;
  background-color: black;
  border: none;
  height: 58px;
  width: 58px;
  border-radius: 0 15px 15px 0;
  transition: .75s ease-in-out;
}

.btn-submit:hover {
  background-color: variables.$blueberry;
}

svg {
  fill: variables.$milk;
  stroke: variables.$milk;
}

/* Responsive Styles */
@media screen and (min-width: 768px) {
  .search {
    width: 555px;
    margin: 25px;
  }

  .ip-address {
    height: 58px;
    width: 497px;
    left: 443px;
    top: 94px;
  }

  .btn-submit {
    height: 58px;
    width: 58px;
    left: 497px;
    top: 0px;
  }
}
