<div class="container">
  <div class="search">
    <h1>IP Address Tracker</h1>
    <app-search-input></app-search-input>
  </div>

  <app-display ></app-display>

  <!-- <app-map[ipAddress]="currentIpAddress$"
               [location]="currentLocation$"
               [timezone]="currentTimezone$"
               [intServiceProvider]="currentIntServiceProvider$"
               [isLoading]="isFetching"></app-map> -->

  <router-outlet></router-outlet>
</div>
<div class="attribution">
  Challenge by <a href='https://www.frontendmentor.io/challenges/ip-address-tracker-I8-0yYAH0'
     target='_blank'
     rel='noreferrer'>
    Frontend Mentor
  </a>
  . Coded by <a href='https://www.ChandaCodes.com'> Chanda Abdul</a>.
</div>
