@use '/src/variables';

.search {
  width: 100%;
  height: 300px;
  background: variables.$gradient;
  background-image: url('/assets/images/pattern-bg.png');
  background-size: cover;
  @include variables.flex-column;
  justify-content: center;
}
