@use '/src/variables';

.search {
  position: relative;
  width: 100%;
  height: 300px;
  background: variables.$gradient;
  background-image: url('/assets/images/pattern-bg.png');
  background-size: stretch;
  @include variables.flex-column;
  justify-content: flex-start;
  padding-top: 25px;
}
