<div class="container">
  <ul>
    <li>
      <h2>IP Address</h2>
      <p>{{ipAddress}}</p>
    </li>
    <div class="seperator"></div>
    <li>
      <h2>Location</h2>
      <p>{{location.city}}, {{location.region.slice(0,2) | uppercase }} {{location.postalCode}}</p>
    </li>
    <div class="seperator"></div>
    <li>
      <h2>Timezone</h2>
      <!-- add offset value dynamically using the API -->
      <p>UTC {{timezone}}</p>
    </li>
    <div class="seperator"></div>
    <li>

      <h2> ISP</h2>
      <p>{{intServiceProvider}}</p>
    </li>
  </ul>






</div>
<!-- <app-osm-map


></app-osm-map> -->
<!--  [options]="options"(map$)="receiveMap($event)"
 (zoom$)="receiveZoom($event)" -->
