@use '/src/variables';

:host {
  @include variables.flex-column;
  transition: 0.5s ease-in-out;
}

#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid variables.$soft-blue;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  position: absolute;
  width: 327px;
  top: 167px;
  border-radius: 15px;
  border: 1px solid variables.$soft-blue;
  border-bottom: none;
  background-color: variables.$milk;
  padding: 25px 5px;
  box-shadow: 0px 50px 50px -25px variables.$shoe-wax;
}

ul {
  @include variables.flex-column;
  height: 294px;
  list-style: none;
  margin: 1em auto;
  padding: .25em;
}


h2 {
  margin-bottom: 5px;
  text-transform: uppercase;
}

p {
  margin-top: 5px;
  margin-bottom: auto;
}

.separator {
  display: none;
}

.pin {
  position: relative;
  z-index: 2;
  right: 0;
  top: 50vh;
}

/* Responsive Styles */
@media screen and (min-width: 768px) {
  .container {
    @include variables.flex-row;
    width: 555px;
    height: fit-content;
    padding: 0;
  }

  ul {
    @include variables.flex-row;
    flex-wrap: wrap;
    height: fit-content;
  }

  li {
    @include variables.flex-column;
    width: 40%;
    height: 100px;
    margin: 0;
    padding: 1em .75em;
  }

  .horizontal {
    border-bottom: 2px solid variables.$blueberry;
  }

  .vertical {
    border-left: 2px solid variables.$blueberry;
  }
}

@media screen and (min-width: 1440px) {
 .container {
    width: 1110px;
    height: 161px;
    top: 200px;
  }

  .separator {
    display: block;
    border-left: 2px solid variables.$shark-fin;
    height: 75px;
  }

  .horizontal {
    border: none;
  }

  .vertical {
    border: none;
  }
  ul {
    @include variables.flex-row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    height: 100%;
    width: 1110px;
  }
}
